<div class="gameWraper">
    <div class="mainGame center">
	  <p class="score" id="score">Score</p>
	  <p class="highScore" id="highScore">High Score</p>
      <canvas id="gc" width="400" height="400"></canvas>
    </div>
	
	<div class="gameOptions">
	  <p><b>Controls:</b><br>Jump - Space<br>Crouch / Glide - Down arrow & Right arrow<br>P - Pause</p>
    </div>
	
	<div class="scores">
		Name: <input id="name" type="text" value="Enter name here"><br>
	</div>
	
	<script src="/assets/js/dino/main.js"></script>
</div>
