<div class="gameWraper">
    <div class="mainGame center">
	  <p class="score" id="score">Score</p>
	  <p class="highScore" id="highScore">High Score</p>
      <canvas id="gc" width="400" height="400"></canvas>
    </div>
	
	<div class="flappybirdOptions">
	  <p><b>Controls:</b><br>Jump - Space<br>P - Pause</p>
    </div>
  <script src="/assets/js/flappybird.js"></script>
</div>
