<br>
<div class="slides">
    {%- for slide in include.slides -%}
        <div class="slide">
            <img src="{{slide}}" style="width: 100%">
        </div>
    {%- endfor -%}
</div>
<script src="/assets/js/button.js"></script>
<br>