<div class="gameWraper">
    <div class="mainGame center">
	  <p class="score" id="score">Score</p>
	  <p class="highScore" id="highScore">High Score</p>
      <canvas id="gc" width="400" height="400"></canvas>
    </div>
	
	<div class="snakeOptions">
	  <p><b>Controls:</b><br>Movement - WASD or Arrow keys<br>P - Pause</p>
	  <br>
	  <p style="margin-bottom: -2px;"><b>Settings:</b></p>
	  <p class="settings">Speed - </p>
	  <select id="speedOption">
	    <option value="9">Very Slow</option>
	    <option value="11">Slow</option>
	    <option value="15" selected>Normal</option>
	    <option value="19">Fast</option>
	    <option value="23">Ludicrous </option>
	  </select>
	  <br>
	  <p class="settings">Movement type - </p>
	  <select id="movementOption">
	    <option>WASD</option>
	    <option selected>Arrow keys</option>
	  </select>
    </div>
  <script src="/assets/js/snake.js"></script>
</div>
