@import "snake";
@import "flappybird";


.score {
  font-size:40px;
  margin-bottom: -10px;
}

.highScore {
  font-size:24px;
  margin-bottom: -1px;
}

.settings {
  display: inline-block;
  margin-bottom: 0px;
}

.mainGame {
  max-width: 1000px;
  height: 100%;
}

.gameOptions {
  display: inline-block;
  text-align: left;
  position: relative;
  bottom:220px;
}