.center {
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

button.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(27, 162, 186, 0.2);
  border-color: rgba(0, 0, 0, 0.4);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  padding: 0.75rem 1rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  
  &:hover {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    background-color: rgba(27, 162, 186, 0.4);
    border-color: rgba(0, 0, 0, 0.5);
  }
  
  &:active {
    background-color: rgba(6, 131, 153, 0.8);
  }
}